doctype html
html
  head
    meta(charset="UTF-8")
    title Formularz naprawy: #{serialNumber}
  body
    h1 Dziękujemy za zgłoszenie naprawy
    p Numer seryjny urządzenia:
      strong #{serialNumber}
    hr
    p Otrzymaliśmy od Ciebie następujący opis problemu:
    blockquote
      | #{description}
    hr
    p
      | Skontaktujemy się z Tobą na adres: 
      strong #{email}
      | lub telefonicznie pod nr: #{phone} w celu omówienia dalszych kroków naprawy.
    hr
    p Pozdrawiamy,
    p Zespół Serwisu Repear.pl
