doctype html
html
  head
    meta(charset="UTF-8")
    title Formularz naprawy: #{serialNumber}
  body
    h1 Zgłoszenie naprawy
    p Numer seryjny urządzenia: 
      strong #{serialNumber}
    hr
    p Opis problemu z urządzeniem:
    blockquote
      | #{description}
    hr
    br
    p
      | Kontakt: #{name}
      strong #{email} 
      | lub telefonicznie pod nr: #{phone} w celu omówienia dalszych kroków naprawy.
    hr
    p Pozdrawiamy,
    p Zespół Serwisu Repear.pl
